*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family:serif;
    
}


body{
    background-color: white;
    /* background-color: black; */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgb(255, 251, 236); */
}

.container1 .navbar .logo{
    font-size: 3vw;
    margin-bottom: 30px;
    cursor: pointer;
}
.container1{
 /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(./hotel\ home.avif);
     */
     /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(./hotel\ nav\ img.jpg);
   */
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(./hotel\ nav\ second.jpg);
  
   
   /* backdrop-filter: brightness(20%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#active{
    color: orangered;
}
.container1 .navbar .logo #lgo{
    /* color: green; */
    /* color: #f2e8e8; */
    color: orangered;
}
.container1 .navbar{
    display: flex;
    font-size: 25px;
   /* min-height: 30px; */
   height: 15vh;
    width: 100%;
    /* background-color: blanchedalmond; */
    /* background-color: darkolivegreen; */
    /* background-color: darkslategrey; */
}
.container1 .navbar ul{
    display: flex;

}
.container1 .navbar ul li{
    list-style-type: none;
    margin: 10px 20px;
}
.container1 .navbar ul li a{
    text-decoration: none;
   cursor: pointer;
   /* color: black; */
  color: #f7f1f1;
   font-family: serif;
}

.container1 .navbar ul li a:hover{
   color: orangered;

}

.container1 .content{
    min-height: 70vh;
    /* background-color: lightgreen; */
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(./hotel\ home.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

#concontent{
    position: relative;
    top: 140px;
   
}

#cfirst{
        font-size: 2vw;
        font-family: serif;
        color: #fff;
}


#csecond{
    font-size: 5vw;
    font-family: serif;
    color: #f0ebeb;
}



/* for our rooms */




#content2{

    min-height:80vh ;
    /* background-color: blueviolet; */
}

#content2{
   position: relative;
   left: 10px;
}

        /* now here is room images */


#roomimg{
    
    height: 30vh;
}
/* 
#extragap{
    margin-left: 15%;
}
    .extragap1{
        margin-left: 15%;
    } */

  /* this is hover contentcode  */
/* 
.ho:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
} */






.sun{
    /* width: 500px;
    height: auto;
    border-radius: 25px; */
    transition: all 2s ease;
    overflow: hidden;
  cursor: pointer;
  border-radius: 20px;

}

.sun:hover{
    transform: scale(0.1,0.1);
    overflow: hidden;
}



#content3{
    min-height: 100vh;
    margin-top: 5%;
    /* background-color: chartreuse; */
}


#galeryimg{
    height: 40vh;
    border-radius: 20px;
    /* width: 300px; */
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

#galeryimg:hover{
    transform: rotate(360deg);
    overflow: hidden;
    
}


.sum{
    border-radius: 20px;
}


.greatfirst{
    font-size: 50px;
    color: gold;
}

.greatfirstchild{
    font-size: 20px;
    color: black;
}

.greatsecond{
    font-size: 25px;
}

#great{
    width: 400px;
}
/* 
.greatewidth{
    width: 500px;
} */
/* 
.sm{
    width: 500px;
    height: 70vh;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-sizing:border-box ;
}

.sm.img4{
    width: 500px;
    height: 70vh;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease;
}
.img4:hover{
    transform: scale(1.1);
    transition: all 1s ease;
    overflow: hidden;
} */


.forimagehover{
    position: relative;
    overflow: hidden;
}
.forimagehover .greatecard{
    cursor: pointer;
    height: 70vh;
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 1s ease;
}

.forimagehover .greatecard:hover{
    transform: scale(1.5);
    overflow: hidden;
}

#greatbtn{
    border: 2px solid gold;
    padding: 10px 20px;
    background-color: gold;
    color: white;
    border-radius: 20px;
    transition: all 0.9s ease;
}

#greatbtn:hover{
    background-color: goldenrod;
    color: black;
    border: 2px solid goldenrod;
    
}

#greateradius{
    border-radius: 25px;
    border: none;
}

.greatecard{
    height: 70vh;
}


#pernight{
    font-size: 45px;
    color: gold;
}
#pernight #pernight2{
    color: black;
    font-size: 20px;
}

#roomeradius{
    border-radius: 20px;
    border: none;
}

.roomimg{
    height: 40vh;
}

#mango{
    border: 9px solid pink;
}
.forhoverstep{
 
    position: relative;
    overflow: hidden;
}

.forhoverstep .forhoverstep2{
    height: 40vh;
    width: auto;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 1s ease;
}

.forhoverstep .forhoverstep2:hover{
    transform: scale(1.5);
    overflow: hidden;
}

 /* here is footer */

 .foot{
    margin-top: 10%;
    min-height: 60vh;
    background-color: black;
    color: white;
   }

   .youyel{
    display: inline-block;
    margin-top: 2%;
   }
   .youyel li{
    list-style-type: none;
    padding: 10px;
   }
   .youyel li a{
    text-decoration: none;
    color: white;
   }

   .footicon{
    text-align: center;
    font-size: 22px;
    margin: 10px;
   }
   .footicon i{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
   }


/* yaha se content3 me javascript se css and other chize add hongi */











